.page_content {
    width: 100%;
    max-width: 1920px;
    display: flex;
}

.card_page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*    padding: 60px 0 50px;*/
    margin: 0 auto;
    height: auto;
    overflow-x: auto;
}

.main .slider-nav {
    width: 360px;
    padding: 10px 35px 20px 0;
}

.main .slider_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #001051;
    font-size: 14px;
    padding: 21px 35px 5px 0;
}

.main .add {
    font-size: 10px;
}

.main .add span {
    background-color: #FDFDFD;
    border-radius: 4px;
    margin: 0 0 0 10px;
    padding: 2px 7px;
    color: #001051;
    font-size: 14px;
    cursor: pointer;
}

.main .slider_content {
    width: 100%;
    height: auto !important;
    margin: 7px 0;
    cursor: pointer;
    position: relative;
}

.main .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: black;
    border-radius: 10px;
}

.main .price_box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.main .price {
    color: white;
    font-size: 13px;
    padding: 0px 4px;
    margin: 0 3px 0 0;
    border-radius: 3px;
    font-weight: 500;
}

.main .price span {
    font-size: 9px;
    font-weight: 500;
}

.main .currency {
    color: white;
    font-size: 9px;
    text-transform: uppercase;
    border-radius: 2px;
    font-weight: 500;
    line-height: 13px;

}

.main .card_info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .part_card_number {
    font-size: 9px;
    color: white;
    margin: 0 11px 0 0;
    padding: 0 11px 0 0;
    border-right: 1px solid #D4D4D6;
}

.main .card_type {
    max-width: 26px;
}


.main .slider-for {
    width: 70%;
    max-width: 850px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.main .see_all {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    padding: 17px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.main .see_all:active,
.main .see_all:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

.slider-nav .active_card {
    background: linear-gradient(0deg, #000000, #000000), rgba(255, 255, 255, 0.8);
    border: 0.5px solid #000000;
    box-shadow: inset 0px 0px 30px rgba(255, 255, 255, 0.1), inset 0px 1px 1px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(50px);
    border-radius: 15px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 200px;
    padding: 14px 15px;
    font-family: 'OCR A Extended';
}

.slider-nav .active_card .card_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-nav .card_header .logo {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.slider-nav .card_header img {
    max-width: 22px;
    margin: 0 3px 0 0;
}

.slider-nav .card_header .balance {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}

.slider-nav .active_card .card_number {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 23px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    margin: 24px 0 0px;
}

.slider-nav .active_card .card_footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-nav .active_card .ex_date_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.slider-nav .active_card .card_name {
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 8px;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.slider-nav .active_card .ex_date {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.slider-nav .active_card .cars_type_img {
    max-width: 60px;
}

.main .slick-current .content {
    display: none;
}

.main .slick-current .active_card {
    display: flex;
}

.slider-nav .balance_mobile {
    display: none;
    color: #707070;
    font-size: 20px;
    line-height: 24px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
}

.main .slider_content:nth-of-type(3n)::after {
    content: "1";
    color: white;
    background-color: red;
    font-size: 6px;
    right: 0px;
    top: -3px;
    position: absolute;
    border-radius: 3px;
    width: 12px;
    height: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .slick-current::after {
    display: none !important;
}

.card_info_box {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0 20px;
}

.card_info_box .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 5px;
}

.card_info_box h1 {
    font-size: 17px;
    font-weight: bold;
    color: black;
}

.card_info_box .details {
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 70px;
}

.card_info_box .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0;
}

.card_info_box .title {
    font-size: 12px;
    color: #919191;
    font-weight: 400;
    margin: 0;
}

.card_info_box .text {
    color: black;
    font-weight: bold;
    font-size: 12px;
}

.main .slick-current .card_info_box {
    display: flex;
}

.main .slider_content,
.main .slider_content:active,
.main .slider_content:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.slider_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    height: auto !important;
}

.slider-for .slide {
    display: flex;
    height: 570px;
    padding: 45px 0 21px;
}


.main .accounts_box,
.main .transactions_box {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px;
    color: white;
}

.accounts_box .header,
.transactions_box .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px;
}

.accounts_box .header h1,
.transactions_box .header h1 {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.accounts_box .header .title {
    font-size: 13px;
    font-weight: 400;
    color: #919191;
}

.accounts_box .row_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 0;
    border-top: 1px solid white;
}

.accounts_box .row_info:last-of-type {
    padding: 30px 0 0;
}

.accounts_box .card_name {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 16px;
    margin: 0 0 20px;
}

.accounts_box .card_img {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    margin: 0 15px 0 0;
}

.accounts_box .note {
    font-size: 11px;
    font-weight: 400;
    color: #919191;
    margin: 0 0 30px;
}

.accounts_box .payment_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.accounts_box .payment_box div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.accounts_box .payment_box .title {
    font-size: 12px;
    font-weight: 400;
    color: white;
    margin: 0 0 10px;
}

.accounts_box .payment .price,
.accounts_box .rate_box .rate {
    font-size: 18px;
}

.accounts_box .payment .price span,
.accounts_box .rate_box .rate span {
    color: #919191;
    text-decoration: line-through;
    font-size: 13px;
    margin: 0 0 0 7px;
}

.main .transactions_box {
    max-height: 100%;
    padding: 30px 0;
}

.transactions_box .header {
    padding: 0 30px;
}

.transactions_box .all_transactions {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 0 30px;
}

.transactions_box .select {
    width: 48px;
    border-radius: 4px;
    background-color: #5D5C63;
    color: white;
    font-size: 14px;
    border: none;
    outline: none;
    padding: 5px;
    -webkit-appearance: none;
    background-image: url(../img/arrow-down.png);
    background-position: 83% 50%;
    background-repeat: no-repeat;
    background-size: 10px;
}

.transactions_box .select:active,
.transactions_box .select:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.transactions_box .row_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.transactions_box .title {
    color: #919191;
    font-size: 14px;
}

.transactions_box .company_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.transactions_box .company_logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    margin: 0 10px 0 0;
}

.transactions_box .company_name {
    font-size: 16px;
}

.transactions_box .date {
    font-size: 12px;
    color: #919191;
}

.transactions_box .spend_balance {
    font-size: 18px;
}

@media all and (max-width:1024px) {
    .slider-for .slide {
        flex-direction: column;
        height: 100%;
    }

    .main .slider-for {
        width: 450px;
    }

    .main .accounts_box,
    .main .transactions_box {
        width: 100%;
    }

    .main .transactions_box {
        max-height: 350px;
    }

    .card_page {
        height: auto;
    }
}

@media all and (max-width:900px) {
    .main .slider_section {
        padding: 45px 25px 37px;
    }

    .main .slider-for {
        padding: 0 30px;
    }

    header,
    footer {
        position: relative;
    }

    .main {
        padding: 0;
    }

}

@media all and (max-width:800px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .main .slider_header {
        padding: 21px 35px 5px;
    }

    .main .slider_content:nth-of-type(3n)::after {
        display: none;
    }

    .slider_box {
        flex-direction: column;
        align-items: center;
    }

    .main .slider-nav {
        padding: 21px 35px 0;
        display: flex;
        align-items: center;
        position: relative;
    }

    .slider-nav .active_card .card_number {
        font-size: 18px;
        line-height: 19px;
    }

    .slider-nav .active_card {
        height: 180px;
    }

    .slick-prev {
        left: -20px;
        width: 30px;
        height: 30px;
        color: transparent;
        background-color: transparent;
        border: none;
        border-radius: 4px;
        background-image: url(../img/left-arrow.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        z-index: 9;
    }

    .slick-next {
        right: -20px;
        width: 30px;
        height: 30px;
        color: transparent;
        background-color: transparent;
        border: none;
        border-radius: 4px;
        background-image: url(../img/right-arrow.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        z-index: 9;
    }

    .slick-arrow {
        position: absolute;
        top: 100px;
    }

    .main .accounts_box,
    .main .transactions_box {
        width: 100%;
    }

    .main .slider-for {
        padding: 0;
        width: 100%;
        max-width: 500px;
    }

    .page_content {
        padding: 10px 72px 10px 22px;
        background-color: black;
    }

    .main .slider_content .content {
        display: none;
    }

    .slick-dots {
        display: flex;
        position: absolute;
        left: 0%;
        bottom: 10px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .slick-dots li {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .slick-dots button {
        color: transparent;
        background-color: transparent;
        border: none;
        width: 8px;
        height: 8px;
        background-color: rgba(0, 0, 0, 0.4);
        margin: 0 5px;
        border-radius: 50%;
    }

    .slick-dots li.slick-active button {
        background-color: black;
    }

    .transactions_box .row_info {
        padding: 5px 0;
    }

}

@media all and (max-width:375px) {
    .main .slider-nav {
        width: 85%;
        max-width: 100vw;
        padding: 21px 0 0;
        margin: 0 auto;
    }

    .main .slick-current .card_info_box {
        margin: 20px 0 0;
    }


    .slider-nav .active_card {
        width: 88%;
        margin: 0 auto;
    }
}

@media all and (max-width:340px) {
    .main .slider_header {
        padding: 20px 20px 5px;
    }

    .main .accounts_box,
    .main .transactions_box {
        padding: 30px 20px
    }

    .transactions_box .all_transactions {
        padding: 0;
    }
}
